<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>纯米 | 测试用例列表</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
<link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>
<link th:href="@{/js/layer/layer.css}" rel="stylesheet"/>
</head>
<body>
    <div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
		<div th:include="modifymanager :: modifymanager"></div>
		<div id="page-wrapper" class="gray-bg">
        	<div class="border-bottom" th:include="header :: headerTop"></div>
      		<div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
		   		<div class="col-lg-10">
		     		<h2>测试用例列表</h2>
		      	</div>
		      	<div class="col-lg-2">
		      	</div>
		  	</div>
			<div class="col-sm-9" style="margin-top: 8px;margin-bottom: 8px;">
				<button style="margin-right: 8px;" type="button" th:onclick="'javascript:goBack();'" class="btn btn-primary">返回</button>
				<button style="margin-right: 8px;" type="button" id="choose" class="btn btn-primary">导入</button>
				<button style="margin-right: 8px;" type="button" th:onclick="'javascript:exportAll();'" class="btn btn-primary">导出</button>
				<button type="button" class="btn btn-primary" th:onclick="'javascript:addTestCase();'">新增</button>
			</div>
        	<div class="wrapper wrapper-content animated fadeInRight">
	               <div class="row">
	                   <div class="col-sm-12" >
	                   		<form id="dataTable" th:action="@{testCaseList_0_0_0}" method="get">
	                   				   <input type="hidden" name="projectId" th:value="${pb.objectBean.projectId}" id="projectId"/>
	                   				   <input type="hidden" name="versionId" th:value="${pb.objectBean.versionId}" id="versionId"/>
	                                   <label class="control-label">用例名称:</label>
	                                   <input class="input-medium"  name="caseName" type="text" th:value="${pb.objectBean.caseName}" id="caseName"
	                                          style="height: 2.6rem; width: 20rem;margin-right: 3rem;"/>
	                                   <label class="control-label">用例标题:</label>
	                                   <input class="input-medium"  name="caseTitle" type="text" th:value="${pb.objectBean.caseTitle}" id="caseTitle"
	                                          style="height: 2.6rem; width: 20rem;margin-right: 3rem;"/>
	                                   <label class="control-label">优先级:</label>
	                                   <select id="priority" name="priority" class="selector" style="height: 2.6rem; width: 20rem;margin-right: 3rem;">
	                                   	   <option value="">---请选择---</option>
	                                       <option value="0">低</option>
	                                       <option value="1">中</option>
	                                       <option value="2">高</option>
	                                   </select>
	                                   <label class="control-label">模块:</label>
	                                   <select id="moduleId" name="moduleId" class="selector" style="height: 2.6rem; width: 20rem;margin-right: 3rem;">
	                                   	   <option value="">---请选择---</option>
	                                       <option th:each="module : ${moduleList }" th:value="${module.id}" th:text="${module.moduleName}"></option>
	                                   </select>
	                                   <button type="submit" class="btn btn-primary">查询</button>
        	 				</form>
	                   </div>
	               </div>
            	<div class="row" style="margin-top:14px;">
                	<div class="col-sm-12">
	                    <div class="ibox float-e-margins">
	                        <div class="ibox-title">
	                            <h5>测试用例列表</h5>
	                            <div class="ibox-tools">
	                                <a class="collapse-link">
	                                    <i class="fa fa-chevron-up"></i>
	                                </a>
	                            </div>
	                        </div>
	                        <div class="ibox-content">
	                            <div class="table-responsive">
	                                <table class=" table table-hover" data-page-size="10">
	                                    <thead>
		                                    <tr>
		                                    	<th width="18%">用例名称</th>
		                                    	<th width="18%">用例标题</th>
		                                    	<th width="18%">项目名称</th>
		                                    	<th width="10%">版本号</th>
		                                    	<th width="18%">模块名称</th>
		                                        <th width="18%">操作</th>
		                                    </tr>
	                                    </thead>
	                                    <tbody>
	                                    	<tr th:each="testCase : ${pb.list}">
										   		<td th:text="${testCase.caseName}">用例名称</td>
										   		<td th:text="${testCase.caseTitle}">用例标题</td>
										   		<td th:text="${testCase.project.projectName}">项目名称</td>
										   		<td th:text="${testCase.projectVersion.versionNum}">版本号</td>
												<td th:text="${testCase.module.moduleName}">模块名称</td>
										      	<td>
										      		<a style="margin-right: 10px" href="#" th:text="查看用例详情" th:onclick="'javascript:selectTestCaseDetail('+${testCase.id}+');'">查看用例详情</a>
										      		<a style="margin-right: 10px" href="#" th:text="编辑" th:onclick="'javascript:updateTestCaseDetail('+${testCase.id}+');'">编辑</a>
										      		<a style="margin-right: 10px" href="#" th:text="删除" th:onclick="'javascript:delTestCaseDetail('+${testCase.id}+');'">删除</a>
										      		<a  href="#" th:text="导出" th:onclick="'javascript:exportTestCaseById('+${testCase.id}+');'">导出</a>
										      	</td>
											</tr>
	                                    </tbody>
	                                   	<tfoot>
			                                <tr>
			                                    <td colspan="6">
			                                        <ul id="pageHTML" class="pagination pull-right"></ul>
			                                    </td>
			                                </tr>
		                                </tfoot>
	                                </table>
			                	</div>
	                        </div>
	           			</div>
                	</div>
            	</div>
        	</div>
        	<div class="footer" th:include="footer :: copyright"></div>
      	</div>
		
		<!-- Add Modal-->
		<div class="modal fade" id="addTestCaseDiv" tabindex="-1" role="dialog"
			aria-labelledby="ModalTitle" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="ModalTitle">新增测试用例</h4>
					</div>
					<form class="form-horizontal" method="post" id="addTestCaseForm" th:action="@{addTestCase}">
						<div class="box-body">
							<div class="form-group">
								<label class="control-label col-sm-3">用例名称:</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="addCaseName" name="caseName" value="" placeholder="输入用例名称"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">用例标题:</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="addCaseTitle" name="caseTitle" value="" placeholder="输入用例标题"/>
								</div>
							</div>
							<div class="form-group">
	                            <label class="control-label col-sm-3">优先级:</label>
	                            <div class="col-sm-5">
		                            <select id="addPriority" name="priority" class="form-control">
		                               <option value="">---请选择---</option>
		                               <option value="0">低</option>
		                               <option value="1">中</option>
		                               <option value="2">高</option>
		                            </select>
								</div>
							</div>
							<div class="form-group">
	                            <label class="control-label col-sm-3">测试方式:</label>
	                            <div class="col-sm-5">
		                            <select id="addTestMode" name="testMode" class="form-control">
		                               <option value="">---请选择---</option>
		                               <option value="0">手动</option>
		                               <option value="1">自动</option>
		                            </select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">模块: </label>
	                            <div class="col-sm-5">
		                            <select id="addModuleId" name="moduleId" class="form-control">
		                               <option value="">---请选择---</option>
									   <option th:each="module : ${moduleList }" th:value="${module.id}" th:text="${module.moduleName}"></option>
		                            </select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">测试前提:</label>
								<div class="col-sm-5">
									<textarea rows="3" cols="4" class="form-control" id="addTestConditions" name="testConditions" placeholder="输入测试前提"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">详细步骤: </label>
								<div class="col-sm-5">
									<textarea rows="5" cols="4" class="form-control" id="addDetailSteps" name="detailSteps" placeholder="输入详细步骤"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">期望结果: </label>
								<div class="col-sm-5">
									<textarea rows="3" cols="4" class="form-control" id="addExpectedResult" name="expectedResult" placeholder="输入期望结果"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">实际结果: </label>
	                            <div class="col-sm-5">
		                            <select id="addActualResultId" name="actualResultId" class="form-control">
		                               <option value="">---请选择---</option>
									   <option th:each="actualResult : ${actualResultList }" th:value="${actualResult.id}" th:text="${actualResult.actualResult}"></option>
		                            </select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">BUG_ID: </label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="addBugId" name="bugId" value="" placeholder="BUG_ID"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">备注: </label>
								<div class="col-sm-5">
									<textarea rows="3" cols="4" class="form-control" id="addRemarks" name="remarks" placeholder="输入备注"></textarea>
								</div>
							</div>
							<input type="hidden" name="projectId" id="addProjectId"/>
							<input type="hidden" name="versionId" id="addVersionId"/>
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="saveAddTestCase();">确定</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- Update Modal-->
		<div class="modal fade" id="updateTestCaseDiv" tabindex="-1" role="dialog"
			aria-labelledby="ModalTitle" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="ModalTitle">更新测试用例</h4>
					</div>
					<form class="form-horizontal" method="post" id="updateTestCaseForm" th:action="@{addTestCase}">
						<div class="box-body">
							<div class="form-group">
								<label class="control-label col-sm-3">用例名称:</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="updateCaseName" name="caseName" value="" placeholder="输入用例名称"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">用例标题:</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="updateCaseTitle" name="caseTitle" value="" placeholder="输入用例标题"/>
								</div>
							</div>
							<div class="form-group">
	                            <label class="control-label col-sm-3">优先级:</label>
	                            <div class="col-sm-5">
		                            <select id="updatePriority" name="priority" class="form-control">
		                               <option value="">---请选择---</option>
		                               <option value="0">低</option>
		                               <option value="1">中</option>
		                               <option value="2">高</option>
		                            </select>
								</div>
							</div>
							<div class="form-group">
	                            <label class="control-label col-sm-3">测试方式:</label>
	                            <div class="col-sm-5">
		                            <select id="updateTestMode" name="testMode" class="form-control">
		                               <option value="">---请选择---</option>
		                               <option value="0">手动</option>
		                               <option value="1">自动</option>
		                            </select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">模块: </label>
	                            <div class="col-sm-5">
		                            <select id="updateModuleId" name="moduleId" class="form-control">
		                               <option value="">---请选择---</option>
									   <option th:each="module : ${moduleList }" th:value="${module.id}" th:text="${module.moduleName}"></option>
		                            </select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">测试前提:</label>
								<div class="col-sm-5">
									<textarea rows="3" cols="4" class="form-control" id="updateTestConditions" name="testConditions" placeholder="输入测试前提"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">详细步骤: </label>
								<div class="col-sm-5">
									<textarea rows="5" cols="4" class="form-control" id="updateDetailSteps" name="detailSteps" placeholder="输入详细步骤"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">期望结果: </label>
								<div class="col-sm-5">
									<textarea rows="3" cols="4" class="form-control" id="updateExpectedResult" name="expectedResult" placeholder="输入期望结果"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">实际结果: </label>
	                            <div class="col-sm-5">
		                            <select id="updateActualResultId" name="actualResultId" class="form-control">
		                               <option value="">---请选择---</option>
									   <option th:each="actualResult : ${actualResultList }" th:value="${actualResult.id}" th:text="${actualResult.actualResult}"></option>
		                            </select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">BUG_ID: </label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="updateBugId" name="bugId" value="" placeholder="BUG_ID"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">备注: </label>
								<div class="col-sm-5">
									<textarea rows="3" cols="4" class="form-control" id="updateRemarks" name="remarks" placeholder="输入备注"></textarea>
								</div>
							</div>
							<input type="hidden" name="id" id="updateCaseDetailId"/>
							<input type="hidden" name="projectId" id="updateProjectId"/>
							<input type="hidden" name="versionId" id="updateVersionId"/>
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="saveUpdateTestCase();">确定</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 用例详情 Model-->
		<div class="modal fade" id="showTestCaseDetail" role="dialog">
			<div class="modal-dialog modal-lg" style="margin:30px auto 0;">
				<div class="modal-content">
					<div class="modal-header">
	                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                   <h4 class="modal-title" id="settingTitle">用例详情</h4>
	               	</div>
	               	<div class="modal-body" id="showTestCaseDetailBody">
	               		 
	               	</div>
				</div>
			</div>
		</div>
		
		<form  id="exportAllForm" th:action="@{exportTestCase}" method="post">
	        <input type="hidden" name="projectId" id="exportProjectId"/>
	        <input type="hidden" name="versionId" id="exportVersionId"/>
	        <input type="hidden" name="caseName" id="exportCaseName"/>
	        <input type="hidden" name="caseTitle" id="exportCaseTitle"/>
	        <input type="hidden" name="priority" id="exportPriority"/>
	        <input type="hidden" name="moduleId" id="exportModuleId"/>
		</form>
		
		<form id="importTestcaseForm" th:action="@{importTestcase}" method="post">
			<input type="file" id="testcaseImport" name="file" onchange="importTestcase(this)" style="display: none;" multiple="multiple" />
			<input name="projectId" type="hidden" th:value="${pb.objectBean.projectId}"/>
			<input name="versionId" type="hidden" th:value="${pb.objectBean.versionId}"/>
		</form>
		
	</div>
	
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>
	
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
	
    <!-- iCheck -->
    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/demo/peity-demo.js}"></script>
	
	<!-- FooTable -->
    <script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
    
    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    

    <!-- layerui -->
	<script th:src="@{/js/layer/layer.js}"></script> 
	
	<script th:src="@{js/jquery.form.min.js}"></script>
	
	<script th:src="@{js/template-web.js}"></script>
	
	<!-- modifymanager -->
	<script th:src="@{/js/modifymanager.js}"></script>
    
    <script th:inline="javascript">
    /*<![CDATA[*/
	    var pageHTML = [[${pageHTML}]];
    	var projectId = [[${pb.objectBean.projectId}]];  //项目id
    	var versionId = [[${pb.objectBean.versionId}]];  //版本id
    	var moduleId = [[${pb.objectBean.moduleId}]];   //模块id
    	var priority = [[${pb.objectBean.priority}]];   //优先级
		$(document).ready(function () {
		//	siderBar("testCaseList");
			$("#moduleId").val(moduleId); 
			$("#priority").val(priority);
			$("#pageHTML").html(pageHTML);
			
			$("#choose").click(function(){
				$("#testcaseImport").click();
			});
			
		});
		
		//返回
		function goBack(){
			history.back();
		}
		
		
		//新增测试用例(弹窗)
		function addTestCase(){
			$("#addTestCaseDiv").modal('show');
		}
		
		
		//保存新增测试用例
		function saveAddTestCase(){
			$("#addProjectId").val(projectId);
			$("#addVersionId").val(versionId);
			var caseName = $("#addCaseName").val();
			var caseTitle = $("#addCaseTitle").val();
			var priority = $("#addPriority").val();
			var testMode = $("#addTestMode option:selected").val();
			var moduleId = $("#addModuleId option:selected").val();
			var testConditions = $("#addTestConditions").val();
			var detailSteps = $("#addDetailSteps").val();
			var expectedResult = $("#addExpectedResult").val();
			var actualResultId = $("#addActualResultId option:selected").val();
			var bugId = $("#addBugId").val();
			var remarks = $("#addRemarks").val();
			if(caseName == null || caseName == ''){
				layer.msg("测试名称不能为空",{time:1000});
				return;
			}
			if(caseTitle == null || caseTitle == ''){
				layer.msg("测试标题不能为空",{time:1000});
				return;
			}
			if(priority ==null || priority == ''){
				layer.msg("优先级不能为空",{time:1000});
				return;
			}
			if(testMode ==null || testMode == ''){
				layer.msg("测试方式不能为空",{time:1000});
				return;
			}
			if(moduleId == null || moduleId == ''){
				layer.msg("模块不能为空",{time:1000});
				return;
			}
			if(detailSteps == null || detailSteps == ''){
				layer.msg("详细步骤不能为空",{time:1000});
				return;
			}
			if(expectedResult ==null || expectedResult == ''){
				layer.msg("期望结果不能为空",{time:1000});
				return;
			}
			$.ajax({
				type:"POST",
				async:false,
				url: "addTestCase",
				data: $("#addTestCaseForm").serialize(),
				dataType:"JSON",
				success:function(data){
					if(data.code==10000){
						$("#addTestCaseDiv").modal('hide');
						window.location.reload();
					}else{
						layer.msg(data.message,{time:1000});
					}	
				}
			});
		}
		
		//查看用例详情
		function selectTestCaseDetail(caseDetailId){
			$.ajax({
				type : "GET",
				url : "selectTestCaseDetailById/"+caseDetailId,
				dataType : "JSON",
			    success: function (data) {
					var html = template('showTestCaseDetailTemplate', {
							data : data
						});
		   		      $("#showTestCaseDetailBody").html(html);
		   		      $("#showTestCaseDetail").modal("show");
				}
			});			
		}
		
		//删除测试用例
		function delTestCaseDetail(id){
			layer.confirm('确定删除此用例?',{
				btn:['确认','取消']
			},function(){
				$.post("delTestCaseDetailById",{"id":id},function(){
					window.location.reload();
				});
			},function(){
				
			});	
		}
		
		
		//更新测试用例(弹窗)
		function updateTestCaseDetail(caseDetailId){
			console.log("caseId--->"+caseDetailId);
			$.ajax({
				type : "GET",
				url : "selectTestCaseDetailById/"+caseDetailId,
				dataType : "JSON",
			    success: function (data) {
					$("#updateCaseDetailId").val(data.id);
					$("#updateCaseName").val(data.caseName);
					$("#updateCaseTitle").val(data.caseTitle);
					$("#updatePriority").val(data.priority);
					$("#updateTestMode").val(data.testMode);
					$("#updateModuleId").val(data.moduleId);
					$("#updateTestConditions").val(data.testConditions);
					$("#updateDetailSteps").val(data.detailSteps);
					$("#updateExpectedResult").val(data.expectedResult);
					$("#updateActualResultId").val(data.actualResultId);
					$("#updateBugId").val(data.bugId);
					$("#updateRemarks").val(data.remarks);
		   		   $("#updateTestCaseDiv").modal('show');
				}
			});	
			
		}
		
		//保存测试用例更新
		function saveUpdateTestCase(){
			var caseName = $("#updateCaseName").val();
			var caseTitle = $("#updateCaseTitle").val();
			var priority = $("#updatePriority").val();
			var testMode = $("#updateTestMode option:selected").val();
			var moduleId = $("#updateModuleId option:selected").val();
			var testConditions = $("#updateTestConditions").val();
			var detailSteps = $("#updateDetailSteps").val();
			var expectedResult = $("#updateExpectedResult").val();
			var actualResultId = $("#updateActualResultId option:selected").val();
			var bugId = $("#updateBugId").val();
			var remarks = $("#updateRemarks").val();
			if(caseName == null || caseName == ''){
				layer.msg("测试名称不能为空",{time:1000});
				return;
			}
			if(caseTitle == null || caseTitle == ''){
				layer.msg("测试标题不能为空",{time:1000});
				return;
			}
			if(priority ==null || priority == ''){
				layer.msg("优先级不能为空",{time:1000});
				return;
			}
			if(testMode ==null || testMode == ''){
				layer.msg("测试方式不能为空",{time:1000});
				return;
			}
			if(moduleId == null || moduleId == ''){
				layer.msg("模块不能为空",{time:1000});
				return;
			}
			if(detailSteps == null || detailSteps == ''){
				layer.msg("详细步骤不能为空",{time:1000});
				return;
			}
			if(expectedResult ==null || expectedResult == ''){
				layer.msg("期望结果不能为空",{time:1000});
				return;
			}
			$.ajax({
				type:"POST",
				async:false,
				url: "updateTestCase",
				data: $("#updateTestCaseForm").serialize(),
				dataType:"JSON",
				success:function(data){
					if(data.code==10000){
						$("#updateTestCaseDiv").modal('hide');
						window.location.reload();
					}else{
						layer.msg(data.message,{time:1000});
					}	
				}
			});			
		}
		
		//导出全部
		function exportAll(){
			$("#exportProjectId").val($("#projectId").val());
			$("#exportVersionId").val($("#versionId").val());
			$("#exportCaseName").val($("#caseName").val());
			$("#exportCaseTitle").val($("#caseTitle").val());
			$("#exportPriority").val($("#priority option:selected").val());
			$("#exportModuleId").val($("#moduleId option:selected").val());
			$("#exportAllForm").submit();
		}
		
		//导出选中的测试用例
		function exportTestCaseById(id){
			window.location.href="exportTestCaseById/"+id;
		}
		
		//导入测试用例(请勿过于依赖此功能)
		function importTestcase(obj){
    		var ctxValue = $(obj).val();
    		var extStart = ctxValue.lastIndexOf(".");
    		var ext = ctxValue.substring(extStart).toLowerCase();
    		if(ext =='.xls' || ext =='.xlsx' ){
    			var options = {
    					url: 'importTestcase',
    					type: 'post',
    					dataType: 'JSON',
    					success: function(data){
    						if(data.code==10000){
    							layer.closeAll();
    							layer.msg("测试用例导入成功",{time:1500});
    							setTimeout(function(){window.location.reload();},1500);
    						}
    					},
    					error:function(){
    						layer.closeAll();
    						layer.msg("系统异常",{time:1500});
    					}
    			}
				$("#importTestcaseForm").ajaxSubmit(options);
				layer.load(0);
    		}else{
    			layer.msg('导入的文件格式有误!',{time:1500});
    		}
		}
		
	/*]]>*/
	</script>

	<script id="showTestCaseDetailTemplate" type="text/x-template">
	<table class="table table-striped table-hover table-bordered" style="margin-bottom:0px;">
		{{if data }}
			<tr>
				<td width ="100px">用例名称</td>
				<td width ="300px">{{data.caseName }}</td>
				<td width ="100px">用例标题</td>
				<td width ="300px">{{data.caseTitle }}</td>
			</tr>
			<tr>
				<td width ="100px">优先级</td>
				<td width ="300px">{{data.priority}}</td>
				<td width ="100px">测试方式</td>
				<td width ="300px">{{data.testMode }}</td>
			</tr>
			<tr>

				<td width ="100px">模块</td> 
				<td width ="300px">{{data.moduleName }}</td>
				<td width ="100px">测试前提</td>
				<td width ="300px">{{data.testConditions}}</td>
			</tr>
			<tr>
				<td width ="100px">详细步骤</td>
				<td colspan="3">
					<div style="height:220px;overflow-y:auto;word-break: break-all;">{{data.detailSteps }}</div>
				</td>
			</tr>
			<tr>
				<td width ="100px">期望结果</td>
				<td colspan="3">
					<div style="height:80px;overflow-y:auto;word-break: break-all;">{{data.expectedResult }}</div>
				</td>
			</tr>
			<tr>

				<td width ="100px">实际结果</td> 
				<td width ="300px">{{data.actualResultValue }}</td>
				<td width ="100px">BUG_ID</td>
				<td width ="300px">{{data.bugId}}</td>
			</tr>
			<tr>
				<td width ="100px">备注</td>
				<td colspan="3">
					<div style="height:80px;overflow-y:auto;word-break: break-all;">{{data.remarks }}</div>
				</td>
			</tr>
	{{/if}}
  </table>
	</script>
</body>

</html>
