<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>导航列表</title>
</head>
<body>
	<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> 
                    	<span>
                            <img alt="image" class="img-circle" th:src="@{/img/profile_small.jpg}" />
						</span>
                    	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                            	<span class="block m-t-xs">
                            		<strong class="font-bold" th:text="${loginManager.userName}" th:onclick="'javascript:modifyManager();'"></strong>
                             	</span> 
                             </span>
                     	</a>
                    </div>
                    <div class="logo-element">
                                         纯米
                    </div>
                </li>
                <li>
                    <a th:href="@{dashboard}"><i class="fa fa-diamond"></i> <span class="nav-label">首页</span></a>
                </li>
                 
                <li class="treeview">
                    <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">用例管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li id="projectList"><a th:href="@{projectList_0_0_0}">项目列表</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">会员管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li id="userList"><a th:href="@{userList_0_0_0}">用户列表</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">日志管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li id="operationLogList"><a th:href="@{operationLogList_0_0_0}">日志列表</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>



